*{
    box-sizing: border-box;
}

body{
    background-color:transparent;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

header .carousel-inner .item{
    height: 100vh;
}

.carousel-caption{
    padding-bottom: 250px;
}

.carousel-caption h1{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: var(--primary);
    text-shadow: 3px 1px white;
}


.carousel-caption h2{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: var(--dark);
    text-shadow: 3px 1px white;
}

.carousel-caption h3{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color:var(--warning);
    text-shadow: 3px 1px white;
}

.carousel-caption h4{
    font-size: 50px;    
    font-weight: bold;
    font-style: italic;
    color: var(--success);
    text-shadow: 3px 1px white;
}

.carousel-caption h5{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: var(--light);
    text-shadow: 3px 1px var(--dark);
}
.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

.carousel-caption p{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: var(--dark);
    text-shadow: 1px 0.5px var(--light);
    letter-spacing: 1.5px;
}

.carousel-caption ul li{
    font-size: 75px;
    font-weight: bold;
    font-style:oblique;
    color: var(--dark);
    text-shadow: 1px 0.5px var(--light);
    letter-spacing: 2px;
}

form{
    background: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}