*{
    box-sizing: border-box;
}

body{
    background-color:transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}


header .carousel-inner .item{
    height: 100vh;
}

.carousel-caption{
    padding-bottom: 250px;
}

.carousel-caption h2{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: darkblue;
    text-shadow: 3px 1px white;
}

.carousel-caption h3{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    color: darkblue;
    text-shadow: 3px 1px white;
}

.carousel-caption h4{
    font-size: 50px;    
    font-weight: bold;
    font-style: italic;
    color: crimson;
    text-shadow: 3px 1px white;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

form{
    background: whitesmoke;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

